In [49]:
import selenium
from selenium.common.exceptions import NoSuchElementException
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import pandas as pd

In [18]:
q6=webdriver.Chrome()

In [19]:
q6.get('https://www.flipkart.com/')

In [20]:
search_sneaker=q6.find_element(By.CLASS_NAME,'Pke_EE')
search_sneaker.send_keys('sneakers')

In [22]:
search=q6.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/button')
search.click()

In [35]:
Brands=[]
start=0
end=5
for page in range(start,end):
    brands=q6.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brands:
        Brands.append(i.text)
    nextb=q6.find_elements(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')                 
    time.sleep(3)

In [37]:
len(Brands)

200

In [46]:
rB=Brands[0:100]

In [38]:
product_desc=[]

start=0
end=5
for page in range(start,end):
    desc=q6.find_elements(By.XPATH,'//div[@class="_2B099V"]/a[1]')
    for i in desc:
        product_desc.append(i.text)
    next_button=q6.find_elements(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
    time.sleep(3)

In [40]:
len(product_desc)

200

In [47]:
rpd=product_desc[0:100]

In [43]:
product_price=[]
start=0
end=5
for page in range(start,end):
    price=q6.find_elements(By.CLASS_NAME,'_30jeq3')
    for i in price:
        product_price.append(i.text)
    nb=q6.find_elements(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
    time.sleep(3)

In [45]:
len(product_price)

225

In [48]:
rpp=product_price[0:100]

In [50]:
flipkartdf=pd.DataFrame({"Brands":rB,"Product desc":rpd,"Product price":rpp})

In [51]:
flipkartdf

       Brands                                       Product desc Product price
0      BRUTON      Modern Trendy Sneakers Shoes Sneakers For Men          ₹285
1      BRUTON      Combo Pack Of 2 Casual Shoes Sneakers For Men          ₹497
2        aadi  Synthetic Leather |Lightweight|Comfort|Summer|...          ₹289
3    URBANBOX  Trending Stylish Casual Outdoor Sneakers Shoes...          ₹299
4      Layasa                                   Sneakers For Men          ₹299
..        ...                                                ...           ...
95  Deals4you                                 Sneakers For Women          ₹285
96   Afrojack                         Wellshore Sneakers For Men          ₹285
97      Krors  Casual Premium Ankle Length Black Denim Boots ...          ₹497
98     Layasa                                 Sneakers For Women        ₹1,299
99       aadi                                   Sneakers For Men        ₹1,429

[100 rows x 3 columns]

In [54]:
q7=webdriver.Chrome()

In [55]:
q7.get(' https://www.amazon.in/')

In [58]:
captch=q7.find_element(By.ID,'captchacharacters')
captch.send_keys("KFTPAJ")

In [59]:
click=q7.find_element(By.XPATH,'/html/body/div/div[1]/div[3]/div/div/form/div[2]/div/span/span/button')
click.click()

In [60]:
search=q7.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('Laptop')

In [61]:
fsearch=q7.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
fsearch.click()

In [65]:
intel=q7.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[6]/span[9]/li/span/a/span')
intel.click()

In [69]:
title=[]
tit=q7.find_elements(By.XPATH,'//div[@class="a-section a-spacing-small a-spacing-top-small"]/div/h2/a/span[1]')
for i in tit:
    title.append(i.text)

In [70]:
title

['ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, 4GB NVIDIA GeForce RTX 3050 Ti, Gaming Laptop (16GB/512GB SSD/Windows 11/90WHrs Battery/Black/2.30 Kg), FX506HE-HN382W',
 'MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM FHD 60Hz Laptop (16GB/512GB NVMe SSD/Windows 11 Home/Intel Iris Xe Graphics/Classic Black/1.4Kg), C12M-459IN',
 'HP Laptop 15s, 12th Gen Intel Core i7-1255U, 15.6-inch (39.6 cm), FHD, 16GB DDR4, 512GB SSD, Intel Iris Xe Graphics, Backlit KB, Thin & Light (Win 11, MSO 2021, Silver, 1.69 kg), fq5190TU',
 'Lenovo IdeaPad Slim 3 Intel Core i7 11th Gen 15.6" (39.62cm) FHD Laptop (16GB/512GB SSD/Win 11/Office 2021/1 Year Warranty/Arctic Grey/1.65Kg), 82H803LPIN',
 'MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD 144Hz Gaming Laptop (16GB/512GB NVMe SSD/Windows 11 Home/Nvidia GeForce GTX 1650, GDDR6 4GB/Black/1.8Kg), 11SC-1462IN',
 'Acer Predator Helios Neo 16 Gaming Laptop 13th Gen Intel Core i7 Processor (16 GB/1 TB SSD/Windows 11 Home/NVIDIA ® GeForce RTX \x84¢ 4050) PHN16-71, (16") WUXGA Display',
 'Acer Aspire Lite Premium Metal Laptop 11th Gen Intel Core Ci7-1165G7 Thin and Light Laptop (Windows 11 Home/16GB RAM/1TB SSD/MS Office) AL15-51, 39.62cm (15.6") Full HD Display, Steel Gray, 1.59 KG',
 'Dell Inspiron 5430 Laptop, Intel Core i7-1360P Processor/ 16GB/ 1TB SSD/14.0" (35.56cm) FHD+ WVA AG with Comfortview 250 nits/Backlit KB + FPR/Win 11 + MSO\'21/15 Month McAfee/Platinum Silver/ 1.59kg',
 'MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD 144Hz Gaming Laptop (8GBx2/512GB NVMe SSD/Windows 11 Home/Nvidia GeForce RTX 3050, GDDR6 4GB/Black/1.8Kg), 11UC-1293IN',
 'ASUS Vivobook 15, Intel Core i7-12650H 12th Gen, 15.6" (39.62 cm) FHD, Thin and Light Laptop (16GB/512GB/Win11/Office 2021/Blue/1.7 kg), X1502ZA-EJ741WS',
 'HP Victus Gaming Laptop, 12th Gen Intel Core i7-12650H, NVIDIA RTX 3050 GPU, 15.6-inch (39.6 cm), 75W TGP , FHD, IPS, 144Hz, 9 ms Response time, 16GB DDR4, 512GB SSD (MSO, Blue, 2.29 kg), fa0188TX',
 '(Refurbished) Lenovo Thinkpad Laptop T470 Intel Core i7 7th Gen - 7600u Processor 8 GB Ram & 512 GB SSD, 14 Inches Notebook Computer',
 'ASUS TUF Gaming F15, 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-12700H 12th Gen, 4GB NVIDIA GeForce RTX 3050, Gaming Laptop (16GB/1TB SSD/Windows 11/90WHrs Battery/Gray/2.20 Kg), FX577ZC-HN192W',
 'Acer Aspire 5 Gaming Laptop Intel Core i7 13th Gen (Windows 11 Home/16 GB/512 GB SSD/4 GB Graphics/NVIDIA GeForce RTX 2050) A514-56GM, 14.0" WUXGA Display, 1.56 KG',
 'Samsung Galaxy Book3 Core i7 13th Gen 1355U - (16 GB/512 GB SSD/Windows 11 Home) Galaxy Book3 Thin and Light Laptop  (15.6 Inch, Silver, 1.58 Kg, with MS Office)',
 '(Refurbished) MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM FHD 60Hz Laptop (16GB/512GB NVMe SSD/Windows 11 Home/Intel Iris Xe Graphics/Classic Black/1.4Kg), C12M-459IN',
 'Dell Inspiron 5330 Laptop, Intel Evo Platform Powered by Intel Core i7-1360P Processor/16GB LP DDR5/1TB SSD/13.3" (33.78cm) QHD+ 300 nits/Win 11 + MSO\'21/15 Month McAfee/Platinum Silver/1.24kg',
 'Acer Nitro 5 12th Gen Intel Core i7-12650H Gaming Laptop (Windows 11 Home/16 GB/1TB SSD/NVIDIA GeForce RTX 3070Ti Graphics/165Hz) AN515-58 with 15.6 inch QHD IPS Display, Killer WiFi 6, RGB Keyboard',
 '(Refurbished) Dell Latitude Laptop 5400 Intel Core i7 Mobile-8th Gen -Processor, 32 GB Ram & 1TB SSD, 14 Inches FHD 1080p Touch Screen Notebook Computer',
 'MSI Thin GF63, Intel 12th Gen. i7-12650H, 40CM FHD 144Hz Gaming Laptop (8GBx2/512GB NVMe SSD/Windows 11 Home/Nvidia GeForce RTX 4050, GDDR6 6GB/Black/1.86Kg), A12VE-070IN',
 'Lenovo Legion 5 Pro Intel Core i7-12700H 16" (40.64cm) QHD IPS 165Hz 500Nits Gaming Laptop (32GB/1TB SSD/Win 11/Office 2021/NVIDIA RTX 3070Ti 8GB/Alexa/3 Month Game Pass/Storm Grey/2.45Kg), 82RF00E1IN',
 'HP Pavilion 15, 13th Gen Intel Core i7-1360P, 15.6-inch (39.6 cm), FHD, 16GB DDR4, 1TB SSD, Intel Iris Xᵉ Graphics, FPR, Backlit KB, Audio by B&O (Win 11, MSO 2021, Silver, 1.74 kg), eg3036TU',
 'HP 2023 17 17.3" Touchscreen HD+ Laptop Computer, 13th Gen Intel 10-Core i7-1355U up to 5.0GHz, 64GB DDR4 RAM, 4TB SSD, WiFi 6, Backlit Keyboard, Fingerprint Reader, Windows 11, Free HDMI Cable',
 '(Refurbished) HP EliteBook x360 1030 G4 13.3-Inch Touchscreen Laptop with Verizon/AT&T']

In [72]:
nt=title[0:10]

In [99]:
ratings=[]

rat=q7.find_elements(By.CLASS_NAME,'a-popover-trigger a-declarative')
for i in rat:
    ratings.append(i)

In [100]:
ratings

[]

In [101]:
price=[]

pr=q7.find_elements(By.XPATH,'//div[@class="a-row a-size-base a-color-base"]/div/a/span')
for i in pr:
    price.append(i.text)

In [107]:
np=price[0:10]

In [108]:
len(np)

10

In [109]:
amazondf=pd.DataFrame({"Title":nt,"Price":np})

In [110]:
amazondf

                                               Title      Price
0  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...    ₹68,990
1  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...    ₹49,990
2  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...    ₹63,990
3  Lenovo IdeaPad Slim 3 Intel Core i7 11th Gen 1...    ₹52,990
4  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...    ₹57,990
5  Acer Predator Helios Neo 16 Gaming Laptop 13th...  ₹1,06,990
6  Acer Aspire Lite Premium Metal Laptop 11th Gen...    ₹47,990
7  Dell Inspiron 5430 Laptop, Intel Core i7-1360P...    ₹84,990
8  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...    ₹64,990
9  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...    ₹60,990

In [111]:
q8=webdriver.Chrome()

In [ ]:
q8.get('https://www.azquotes.com/')

In [113]:
top_quotes=q8.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top_quotes.click()

In [114]:
Quotes=[]
start=0
end=10
for page in range(start,end):
    quote=q8.find_elements(By.XPATH,'//ul[@class="list-quotes"]/li/div/p')
    for i in quote:
        Quotes.append(i.text)
    nextp=q8.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
    time.sleep(3)

In [116]:
len(Quotes)

1000

In [117]:
Authors=[]
start=0
end=10
for page in range(start,end):
    author=q8.find_elements(By.XPATH,'//div[@class="wrap-block"]/div/a')
    for i in author:
        Authors.append(i.text)
    nextp=q8.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
    time.sleep(3)

In [119]:
len(Authors)

1000

In [120]:
Type_of_quotes=[]
start=0
end=10
for page in range(start,end):
    tq=q8.find_elements(By.XPATH,'//div[@class="wrap-block"]/div/div[1]')
    for i in tq:
        Type_of_quotes.append(i.text)
    nextp=q8.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
    time.sleep(3)

In [122]:
len(Type_of_quotes)

1000

In [123]:
Quotedf=pd.DataFrame({'Quotes':Quotes,"Authors":Authors,"Type of Quotes":Type_of_quotes})

In [124]:
Quotedf

,Quotes,Authors,Type of Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
998,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

In [127]:
q9=webdriver.Chrome()

In [128]:
q9.get("https://www.jagranjosh.com/")

In [129]:
gk=q9.find_element(By.XPATH,'/html/body/div[1]/header/nav/div/div/div[3]/ul/li[6]/a')
gk.click()

In [130]:
pm=q9.find_element(By.XPATH,'/html/body/div[2]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
pm.click()

In [131]:
table=q9.find_element(By.XPATH,'//div[@class="table-box"]/table/tbody[1]')

In [139]:
table.

In [148]:
q10=webdriver.Chrome()

In [149]:
q10.get('https://www.motor1.com/')

In [151]:
cs=q10.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input')
cs.send_keys("50 most expensive cars")

In [152]:
search=q10.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
search.click()

In [153]:
expensive=q10.find_element(By.XPATH,'/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a')
expensive.click()

In [156]:
carname=[]
car=q10.find_elements(By.CLASS_NAME,'subheader')
for i in car:
    carname.append(i.text)

In [157]:
carname

['Aston Martin Valour',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'Ferrari Daytona SP3',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Zenvo Aurora',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Pininfarina B95 Speedster',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 '777 Hypercar',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Bugatti Chiron Profilée',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*',
 'Rolls-Royce La Rose Noire Droptail',
 'Most Expensive Cars In The World']

In [158]:
price=[]
pr=q10.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[2]/p[4]/strong')
for i in pr:
    price.append(i.text)

In [159]:
price

['Price: $1.5 Million']